
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes bounceInLeft {
  from, 60%, 75%, 90%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(-3000px, 0, 0);
    transform: translate3d(-3000px, 0, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(25px, 0, 0);
    transform: translate3d(25px, 0, 0);
  }

  75% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }

  90% {
    -webkit-transform: translate3d(5px, 0, 0);
    transform: translate3d(5px, 0, 0);
  }

  to {
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes bounceInLeft {
  from, 60%, 75%, 90%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(-3000px, 0, 0);
    transform: translate3d(-3000px, 0, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(25px, 0, 0);
    transform: translate3d(25px, 0, 0);
  }

  75% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }

  90% {
    -webkit-transform: translate3d(5px, 0, 0);
    transform: translate3d(5px, 0, 0);
  }

  to {
    -webkit-transform: none;
    transform: none;
  }
}


@-webkit-keyframes bounceInRight {
  from, 60%, 75%, 90%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  from {
    opacity: 0;
    -webkit-transform: translate3d(3000px, 0, 0);
    transform: translate3d(3000px, 0, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(-25px, 0, 0);
    transform: translate3d(-25px, 0, 0);
  }

  75% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }

  90% {
    -webkit-transform: translate3d(-5px, 0, 0);
    transform: translate3d(-5px, 0, 0);
  }

  to {
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes bounceInRight {
  from, 60%, 75%, 90%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  from {
    opacity: 0;
    -webkit-transform: translate3d(3000px, 0, 0);
    transform: translate3d(3000px, 0, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(-25px, 0, 0);
    transform: translate3d(-25px, 0, 0);
  }

  75% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }

  90% {
    -webkit-transform: translate3d(-5px, 0, 0);
    transform: translate3d(-5px, 0, 0);
  }

  to {
    -webkit-transform: none;
    transform: none;
  }
}

@-webkit-keyframes fadeInUp {
  from { opacity: 0; -webkit-transform: translate3d(0, 100%, 0); transform: translate3d(0, 100%, 0); }
  to { opacity: 1; -webkit-transform: none; transform: none; }
}

@keyframes fadeInUp {
  from { opacity: 0; -webkit-transform: translate3d(0, 100%, 0); transform: translate3d(0, 100%, 0); }
  to { opacity: 1; -webkit-transform: none; transform: none; }
}

@-webkit-keyframes fadeInDown {
  from { opacity: 0; -webkit-transform: translate3d(0, -100%, 0); transform: translate3d(0, -100%, 0); }
  to { opacity: 1; -webkit-transform: none; transform: none; }
}

@keyframes fadeInDown {
  from { opacity: 0; -webkit-transform: translate3d(0, -100%, 0); transform: translate3d(0, -100%, 0); }
  to { opacity: 1; -webkit-transform: none; transform: none; }
}

@-webkit-keyframes fadeInLeft {
  from { opacity: 0; -webkit-transform: translate3d(100%, 0, 0); transform: translate3d(100%, 0, 0); }
  to { opacity: 1; -webkit-transform: none; transform: none; }
}

@keyframes fadeInLeft {
  from { opacity: 0; -webkit-transform: translate3d(100%, 0, 0); transform: translate3d(100%, 0, 0); }
  to { opacity: 1; -webkit-transform: none; transform: none; }
}

@-webkit-keyframes fadeInRight {
  from { opacity: 0; -webkit-transform: translate3d(-100%, 0, 0); transform: translate3d(-100%, 0, 0); }
  to { opacity: 1; -webkit-transform: none; transform: none; }
}

@keyframes fadeInRight {
  from { opacity: 0; -webkit-transform: translate3d(-100%, 0, 0); transform: translate3d(-100%, 0, 0); }
  to { opacity: 1; -webkit-transform: none; transform: none; }
}

@-webkit-keyframes zoomIn {
  from { opacity: 0; -webkit-transform: scale3d(.3, .3, .3); transform: scale3d(.3, .3, .3); }
  50% { opacity: 1; }
  to{ opacity: 1; }
}

@keyframes zoomIn {
  from { opacity: 0; -webkit-transform: scale3d(.3, .3, .3); transform: scale3d(.3, .3, .3); }
  50% { opacity: 1; }
  to{ opacity: 1; }
}
  


@media screen and (min-width: 800px){
  
  #advantages.hidden .h1 { opacity: 0; }
  #advantages.animated .h1 {
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-duration: .3s;
    animation-duration: .3s;
    -webkit-animation-name: zoomIn;
    animation-name: zoomIn;
  }

  #advantages .adv_tree_left_items .adv_tree_item.hidden, #advantages .adv_tree_right_items .adv_tree_item.hidden {
    opacity: 0;
  }
  #advantages .adv_tree_left_items .adv_tree_item.animated {
    -webkit-animation-name: bounceInLeft;
    animation-name: bounceInLeft;
    opacity: 1;
  }
  #advantages .adv_tree_right_items .adv_tree_item.animated {
    -webkit-animation-name: bounceInRight;
    animation-name: bounceInRight;
    opacity: 1;
  }
}

@media screen and (min-width: 800px) and (max-width: 1000px) {
  #advantages .adv_tree_left_items .adv_tree_item.animated {
    -webkit-animation-name: bounceInRight;
    animation-name: bounceInRight;
  }
}


@media screen and (min-width: 800px){

  #equipment .h1.hidden, #equipment .text.hidden, #equipment .equ_main_block.hidden { opacity: 0; }
  #equipment .h1.animated {
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-duration: .5s;
    animation-duration: .5s;
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
  }
  #equipment .text.animated {
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-duration: .5s;
    animation-duration: .5s;
    -webkit-animation-delay: .25s;
    animation-delay: .25s;
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
  }
  #equipment .equ_main_block.animated {
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-duration: .5s;
    animation-duration: .5s;
    -webkit-animation-delay: .50s;
    animation-delay: .50s;
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
  }
  #equipment #qualities.hidden .quality { opacity: 0; }
  #equipment #qualities.animated .quality {
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-duration: .3s;
    animation-duration: .3s;
    -webkit-animation-name: zoomIn;
    animation-name: zoomIn;
  }
    #equipment #qualities.animated .quality:nth-of-type(1){ -webkit-animation-delay: .45s; animation-delay: .45s; }
    #equipment #qualities.animated .quality:nth-of-type(2){ -webkit-animation-delay: .65s;  animation-delay: .65s; }
    #equipment #qualities.animated .quality:nth-of-type(3){ -webkit-animation-delay: .85s; animation-delay: .85s; }
    #equipment #qualities.animated .quality:nth-of-type(4){ -webkit-animation-delay: 1.05s; animation-delay: 1.05s; }
    #equipment #qualities.animated .quality:nth-of-type(5){ -webkit-animation-delay: 1.25s; animation-delay: 1.25s; }
  
}
@media screen and (min-width: 800px){
	#catalog.hidden .h1 { opacity: 0; }
	#catalog.animated .h1 { -webkit-animation-fill-mode: forwards; animation-fill-mode: forwards; -webkit-animation-duration: .5s; animation-duration: .5s; -webkit-animation-name: fadeInUp; animation-name: fadeInUp; }
	#catalog.hidden .tab_buttons { opacity: 0; }
	#catalog.animated .tab_buttons { -webkit-animation-fill-mode: forwards; animation-fill-mode: forwards; -webkit-animation-duration: .5s; animation-duration: .5s; -webkit-animation-delay: .25s;  animation-delay: .25s; -webkit-animation-name: fadeInUp; animation-name: fadeInUp; }
	#catalog.hidden .tab .product_item { opacity: 0; }
	#catalog.animated .tab .product_item { -webkit-animation-fill-mode: forwards; animation-fill-mode: forwards; -webkit-animation-duration: .3s; animation-duration: .3s; -webkit-animation-name: fadeInUp; animation-name: fadeInUp; }
	#catalog.animated .tab .product_item:nth-child(1) { -webkit-animation-delay: .5s;  animation-delay: .5s; }
	#catalog.animated .tab .product_item:nth-child(2) { -webkit-animation-delay: .7s;  animation-delay: .7s; }
	#catalog.animated .tab .product_item:nth-child(3) { -webkit-animation-delay: .9s;  animation-delay: .9s; }
	#catalog.animated .tab .product_item:nth-child(4) { -webkit-animation-delay: 1.1s;  animation-delay: 1.1s; }
	#catalog.animated .tab .product_item:nth-child(5) { -webkit-animation-delay: 1.3s;  animation-delay: 1.3s; }
	#catalog.animated .tab .product_item:nth-child(6) { -webkit-animation-delay: 1.5s;  animation-delay: 1.5s; }
  
}

@media screen and (min-width: 800px){
  #action.hidden .h1 { opacity: 0; }
  #action.animated .h1 {
      -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-duration: .3s;
    animation-duration: .3s;
    -webkit-animation-name: zoomIn;
    animation-name: zoomIn;
  }
  #action.hidden .action_item {
    opacity: 0;
  }
  #action.animated .action_item:nth-child(1) {
    -webkit-animation-fill-mode: forwards; animation-fill-mode: forwards; -webkit-animation-delay: 0.8s; animation-delay: 0.8s; -webkit-animation-duration: 1.3s; animation-duration: 1.3s; -webkit-animation-name: fadeInRight; animation-name: fadeInRight;
  }
  #action.animated .action_item:nth-child(2) {
    -webkit-animation-fill-mode: forwards; animation-fill-mode: forwards; -webkit-animation-delay: 0.8s; animation-delay: 0.8s; -webkit-animation-duration: 1.3s; animation-duration: 1.3s; -webkit-animation-name: fadeInLeft; animation-name: fadeInLeft;
  }
}

@media screen and (min-width: 800px){
	#working.hidden .h1 { opacity: 0; }
	#working.animated .h1 { -webkit-animation-fill-mode: forwards; animation-fill-mode: forwards; -webkit-animation-duration: .5s; animation-duration: .5s; -webkit-animation-name: fadeInUp; animation-name: fadeInUp; }
	#working.hidden .tab_buttons { opacity: 0; }
	#working.animated .tab_buttons { -webkit-animation-fill-mode: forwards; animation-fill-mode: forwards; -webkit-animation-duration: .5s; animation-duration: .5s; -webkit-animation-delay: .25s;  animation-delay: .25s; -webkit-animation-name: fadeInUp; animation-name: fadeInUp; }
	#working.hidden .tab .working_item { opacity: 0; }
	#working.animated .tab .working_item { -webkit-animation-fill-mode: forwards; animation-fill-mode: forwards; -webkit-animation-duration: .3s; animation-duration: .3s; -webkit-animation-name: zoomIn; animation-name: zoomIn; }
	#working.animated .tab .working_item:nth-child(1) { -webkit-animation-delay: .5s;  animation-delay: .5s; }
	#working.animated .tab .working_item:nth-child(2) { -webkit-animation-delay: .7s;  animation-delay: .7s; }
	#working.animated .tab .working_item:nth-child(3) { -webkit-animation-delay: .9s;  animation-delay: .9s; }
	#working.animated .tab .working_item:nth-child(4) { -webkit-animation-delay: 1.1s;  animation-delay: 1.1s; }
  
}

@media screen and (min-width: 800px){
	#turnkey_work.hidden .h1 { opacity: 0; }
	#turnkey_work.animated .h1 { -webkit-animation-fill-mode: forwards; animation-fill-mode: forwards; -webkit-animation-duration: .5s; animation-duration: .5s; -webkit-animation-name: zoomIn; animation-name: zoomIn; }
	#turnkey_work.hidden .turnkey_work_stages li { opacity: 0; }
	#turnkey_work.animated .turnkey_work_stages li { -webkit-animation-fill-mode: forwards; animation-fill-mode: forwards; -webkit-animation-duration: .3s; animation-duration: .3s; }
	#turnkey_work.animated .turnkey_work_stages li:nth-child(1) { -webkit-animation-delay: .5s;  animation-delay: .5s; -webkit-animation-name: fadeInUp; animation-name: fadeInRight; }
	#turnkey_work.animated .turnkey_work_stages li:nth-child(2) { -webkit-animation-delay: .7s;  animation-delay: .7s; -webkit-animation-name: fadeInUp; animation-name: fadeInDown; }
	#turnkey_work.animated .turnkey_work_stages li:nth-child(3) { -webkit-animation-delay: .9s;  animation-delay: .9s; -webkit-animation-name: fadeInUp; animation-name: fadeInDown; }
	#turnkey_work.animated .turnkey_work_stages li:nth-child(4) { -webkit-animation-delay: 1.1s;  animation-delay: 1.1s; -webkit-animation-name: fadeInUp; animation-name: fadeInLeft; }
	#turnkey_work.animated .turnkey_work_stages li:nth-child(5) { -webkit-animation-delay: 1.3s;  animation-delay: 1.3s; -webkit-animation-name: fadeInUp; animation-name: fadeInRight; }
	#turnkey_work.animated .turnkey_work_stages li:nth-child(6) { -webkit-animation-delay: 1.5s;  animation-delay: 1.5s; -webkit-animation-name: fadeInUp; animation-name: fadeInUp; }
	#turnkey_work.animated .turnkey_work_stages li:nth-child(7) { -webkit-animation-delay: 1.7s;  animation-delay: 1.7s; -webkit-animation-name: fadeInUp; animation-name: fadeInUp; }
	#turnkey_work.animated .turnkey_work_stages li:nth-child(8) { -webkit-animation-delay: 1.9s;  animation-delay: 1.9s; -webkit-animation-name: fadeInUp; animation-name: fadeInLeft; }
  
}


@media screen and (min-width: 800px){
	#standards.hidden .h1 { opacity: 0; }
	#standards.animated .h1 { -webkit-animation-fill-mode: forwards; animation-fill-mode: forwards; -webkit-animation-duration: .5s; animation-duration: .5s; -webkit-animation-name: fadeInUp; animation-name: fadeInUp; }
	#standards.hidden .tab_buttons { opacity: 0; }
	#standards.animated .tab_buttons { -webkit-animation-fill-mode: forwards; animation-fill-mode: forwards; -webkit-animation-duration: .5s; animation-duration: .5s; -webkit-animation-delay: .25s;  animation-delay: .25s; -webkit-animation-name: fadeInUp; animation-name: fadeInUp; }
	#standards.hidden .video { opacity: 0; }
	#standards.animated .video { -webkit-animation-fill-mode: forwards; animation-fill-mode: forwards; -webkit-animation-duration: .5s; animation-duration: .5s; -webkit-animation-delay: .25s;  animation-delay: .25s; -webkit-animation-name: fadeInRight; animation-name: fadeInRight; }
	#standards.hidden .tab .standards_item { opacity: 0; }
	#standards.animated .tab .standards_item { -webkit-animation-fill-mode: forwards; animation-fill-mode: forwards; -webkit-animation-duration: .3s; animation-duration: .3s; -webkit-animation-name: zoomIn; animation-name: zoomIn; }
	#standards.animated .tab .standards_item:nth-child(1) { -webkit-animation-delay: .5s;  animation-delay: .5s; }
	#standards.animated .tab .standards_item:nth-child(2) { -webkit-animation-delay: .7s;  animation-delay: .7s; }
	#standards.animated .tab .standards_item:nth-child(3) { -webkit-animation-delay: .9s;  animation-delay: .9s; }
	#standards.animated .tab .standards_item:nth-child(4) { -webkit-animation-delay: 1.1s;  animation-delay: 1.1s; }
  
}

@media screen and (min-width: 800px){
	#sertificates.hidden .text { opacity: 0; }
	#sertificates.animated .text { -webkit-animation-fill-mode: forwards; animation-fill-mode: forwards; -webkit-animation-duration: .5s; animation-duration: .5s; -webkit-animation-delay: .25s;  animation-delay: .25s; -webkit-animation-name: fadeInUp; animation-name: fadeInRight; }
	#sertificates.hidden .sertificates_slider div img { opacity: 0; }
	#sertificates.animated .sertificates_slider div img { -webkit-animation-fill-mode: forwards; animation-fill-mode: forwards; -webkit-animation-duration: .3s; animation-duration: .3s; -webkit-animation-name: zoomIn; animation-name: zoomIn; }
	#sertificates.animated .sertificates_slider div:nth-child(1) img { -webkit-animation-delay: .5s;  animation-delay: .5s; }
	#sertificates.animated .sertificates_slider div:nth-child(2) img { -webkit-animation-delay: .7s;  animation-delay: .7s; }
	#sertificates.animated .sertificates_slider div:nth-child(3) img { -webkit-animation-delay: .9s;  animation-delay: .9s; }
	#sertificates.animated .sertificates_slider div:nth-child(4) img { -webkit-animation-delay: 1.1s;  animation-delay: 1.1s; }
	#sertificates.animated .sertificates_slider div:nth-child(5) img { -webkit-animation-delay: 1.3s;  animation-delay: 1.3s; }
	#sertificates.animated .sertificates_slider div:nth-child(6) img { -webkit-animation-delay: 1.5s;  animation-delay: 1.5s; }
	#sertificates.animated .sertificates_slider div:nth-child(7) img { -webkit-animation-delay: 1.7s;  animation-delay: 1.7s; }
	#sertificates.animated .sertificates_slider div:nth-child(8) img { -webkit-animation-delay: 1.9s;  animation-delay: 1.9s; }
  
}

@media screen and (min-width: 800px){
	#about .h1.hidden { opacity: 0; }
	#about .h1.animated { -webkit-animation-fill-mode: forwards; animation-fill-mode: forwards; -webkit-animation-duration: .5s; animation-duration: .5s; -webkit-animation-name: fadeInUp; animation-name: fadeInUp; }
	#about .about_item.hidden { opacity: 0; }
	#about .about_item.animated { -webkit-animation-fill-mode: forwards; animation-fill-mode: forwards; -webkit-animation-duration: .3s; animation-duration: .3s; -webkit-animation-name: fadeInUp; animation-name: fadeInUp; }
	#about .about_item.animated:nth-child(1) { -webkit-animation-delay: .5s;  animation-delay: .5s; }
	#about .about_item.animated:nth-child(2) { -webkit-animation-delay: .7s;  animation-delay: .7s; }
	#about .about_item.animated:nth-child(3) { -webkit-animation-delay: .5s;  animation-delay: .5s; }
	#about .about_item.animated:nth-child(4) { -webkit-animation-delay: .7s;  animation-delay: .7s; }
  
}

@media screen and (min-width: 800px){
	#other_jobs.hidden .h1 { opacity: 0; }
	#other_jobs.animated .h1 { -webkit-animation-fill-mode: forwards; animation-fill-mode: forwards; -webkit-animation-duration: .5s; animation-duration: .5s; -webkit-animation-name: fadeInUp; animation-name: fadeInUp; }
	#other_jobs.hidden .slide { opacity: 0; }
	#other_jobs.animated .slide { -webkit-animation-fill-mode: forwards; animation-fill-mode: forwards; -webkit-animation-delay: 0.8s; animation-delay: 0.8s; -webkit-animation-name: fadeInRight; animation-name: fadeInRight; }
	#other_jobs.animated .slide:nth-child(1) { -webkit-animation-duration: .2s;  animation-duration: .2s; }
	#other_jobs.animated .slide:nth-child(2) { -webkit-animation-duration: .4s;  animation-duration: .4s; }
	#other_jobs.animated .slide:nth-child(3) { -webkit-animation-duration: .6s;  animation-duration: .6s; }
	#other_jobs.animated .slide:nth-child(4) { -webkit-animation-duration: .8s;  animation-duration: .8s; }
	#other_jobs.animated .slide:nth-child(5) { -webkit-animation-duration: 1s;  animation-duration: 1s; }
	#other_jobs.animated .slide:nth-child(6) { -webkit-animation-duration: 1.2s;  animation-duration: 1.2s; }
}
 

@media screen and (max-width: 1099px) and (min-width: 800px){
	#reviews .h1 { opacity: 0; }
	#reviews.animated .h1 { -webkit-animation-fill-mode: forwards; animation-fill-mode: forwards; -webkit-animation-duration: .5s; animation-duration: .5s; -webkit-animation-name: fadeInUp; animation-name: fadeInUp; }
	#reviews .reviews_slider { opacity: 0; }
	#reviews.animated .reviews_slider { -webkit-animation-fill-mode: forwards; animation-fill-mode: forwards; -webkit-animation-delay: 0.8s; animation-delay: 0.8s;  -webkit-animation-duration: .2s;  animation-duration: .2s; -webkit-animation-name: fadeInup; animation-name: fadeInUp; }
}

@media screen and (min-width: 1100px){
	#reviews.hidden .h1 { opacity: 0; }
	#reviews.animated .h1 { -webkit-animation-fill-mode: forwards; animation-fill-mode: forwards; -webkit-animation-duration: .5s; animation-duration: .5s; -webkit-animation-name: fadeInUp; animation-name: fadeInUp; }
	#reviews.hidden .review_item { opacity: 0; }
	#reviews.animated .review_item { -webkit-animation-fill-mode: forwards; animation-fill-mode: forwards; -webkit-animation-delay: 0.8s; animation-delay: 0.8s;  }
	#reviews.animated .review_item:nth-child(1) { -webkit-animation-duration: .2s;  animation-duration: .2s; -webkit-animation-name: fadeInLeft; animation-name: fadeInLeft; }
	#reviews.animated .review_item:nth-child(2) { -webkit-animation-duration: .4s;  animation-duration: .4s; -webkit-animation-name: fadeInRight; animation-name: fadeInRight; }
	#reviews.animated .review_item:nth-child(3) { -webkit-animation-duration: .6s;  animation-duration: .6s; -webkit-animation-name: fadeInLeft; animation-name: fadeInLeft; }
	#reviews.animated .review_item:nth-child(4) { -webkit-animation-duration: .8s;  animation-duration: .8s; -webkit-animation-name: fadeInRight; animation-name: fadeInRight; }
	#reviews.animated .review_item:nth-child(5) { -webkit-animation-duration: 1s;  animation-duration: 1s; -webkit-animation-name: fadeInLeft; animation-name: fadeInLeft; }
	#reviews.animated .review_item:nth-child(6) { -webkit-animation-duration: 1.2s;  animation-duration: 1.2s; -webkit-animation-name: fadeInRight; animation-name: fadeInRight; }
}

@media screen and (min-width: 800px){
	#contacts.hidden .h1 { opacity: 0; }
	#contacts.animated .h1 { -webkit-animation-fill-mode: forwards; animation-fill-mode: forwards; -webkit-animation-duration: .5s; animation-duration: .5s; -webkit-animation-name: fadeInUp; animation-name: fadeInUp; }
	
	#contacts.hidden .map { opacity: 0; }
	#contacts.animated .map { -webkit-animation-fill-mode: forwards; animation-fill-mode: forwards; -webkit-animation-duration: .5s; animation-duration: .5s; -webkit-animation-delay: .75s;  animation-delay: .75s; -webkit-animation-name: fadeInLeft; animation-name: fadeInLeft; }
	#contacts.hidden .contacts_info { opacity: 0; }
	#contacts.animated .contacts_info { -webkit-animation-fill-mode: forwards; animation-fill-mode: forwards; -webkit-animation-duration: .3s; animation-duration: .3s; -webkit-animation-name: zoomIn; animation-name: zoomIn; -webkit-animation-delay: .5s;  animation-delay: .5s; }
	
  
}

