
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

$font_family_os: 'MuseoSansCyrl', Arial, Helvetica, sans-serif;

$color_text: #222222;
$color_a: #8fab32;
$max-width: 1560px;

@mixin clear() {
    content: "";
    display: block;
    clear: both;
}

@mixin h_decor() {
    position: relative;
	
    &:before {
	content: "";
	position: absolute;
	bottom: 0px;
	left: 50%;
	margin-left: -31px;
	width: 62px;
	height: 4px;
	background-color: #ed6e2e;
    }
}

@mixin transition($property) {
	-webkit-transition: $property 0.2s ease-out 0s;
	-moz-transition: $property 0.2s ease-out 0s;
	-o-transition: $property 0.2s ease-out 0s;
	transition: $property 0.2s ease-out 0s;
}
@mixin transition_slow($property) {
	-webkit-transition: $property 0.6s ease-out 0s;
	-moz-transition: $property 0.6s ease-out 0s;
	-o-transition: $property 0.6s ease-out 0s;
	transition: $property 0.6s ease-out 0s;
}

body {   
    font-family: $font_family_os;
    font-size: 17px;
    line-height: 20px;
    font-weight: 100;
    color: $color_text;
    background: #fff;
    
    //background: url(images/site.jpg) center -188px no-repeat;
//background-size: auto;
} 
a {
    text-decoration: underline;
    color: $color_a;
}
a:hover {
    text-decoration: none;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
	font-weight: 700;
	line-height: 145%;
}

h1, .h1 {
    font-size: 32px;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 10px;
    margin-bottom: 18px;
	
    @include h_decor();   
}

h2, .h2 {
    font-size: 30px;
}
h3, .h3 {
    font-size: 27px;
}
h4, .h4 {
    font-size: 25px;
}
h5, .h5 {
    font-size: 20px;
}
h6, .h6 {
    font-size: 17px;
}



a.button {
	padding: 15px 45px 9px;
	
        height: 26px;
	
	display: inline-block;
	vertical-align: top;
	
	text-align: center;
	text-decoration: none;
	
	font-size: 16px;
	line-height: 19px;
        font-weight: 500;
	color: #fff;
	background-color: #ed6e2e;
	cursor: pointer;
	border-radius: 3px;
	@include transition(background-color);
}
a.button:hover {
	//box-shadow: inset 0 0 3px RGBA(0, 0, 0, 0.4);
	background-color: #d1632b;
}
a.button:active {
	height: 24px;
	margin-top: 1px;
	margin-bottom: 1px;
}

.slick-slider {
	position: relative;
	margin: 0 auto;

	.slick-arrow {
		position: absolute;
		top: 50%;
		margin-top: -25px;
		width: 46px;
		height: 46px;
		text-indent: 10000px;
		overflow: hidden;
		z-index: 5;
		outline: none;
		background: transparent center no-repeat;
		cursor: pointer;
		border: 2px solid $color_a;
		border-radius: 25px;
		@include transition(background-color);
		
		&:hover {
			background-color: $color_a;
		}
	}
	.slick-prev {
		left: 9px;
		background-image: url(images/arr_left.png);
		&:hover {
			background-image:  url(images/arr_left_hover.png);
		}
	}
	.slick-next {
		background-image:  url(images/arr_right.png);
		right: 9px;
		&:hover {
			background-image:  url(images/arr_right_hover.png);
		}
	}
	
	.slick-dots {
		position: absolute;
		width: 300px;
		margin-left: -150px;
		left: 50%;
		bottom: 22px;
		font-size: 0;
		text-align: center;
		
		li {
			display: inline-block;
			width: 15px;
			height: 15px;
			border-radius: 11px;
			line-height: 12px;
			overflow: hidden;
			margin: 0 2px;
			padding: 1px;
			cursor: pointer;
			border: 2px solid transparent;
			background: none;
			outline: none;
			
			button {
				outline: none !important;
				padding: 0;
				border: none;
				width: 15px;
				height: 15px;
				border-radius: 8px;
				vertical-align: middle;
				text-indent: 100px;
				font-size: 0;
				background-color: #3c3c3c;
				cursor: pointer;
			}
			button::-moz-focus-inner { border: none; }
			&.slick-active{
				border-color: $color_a;
				background-color: $color_a;
				button {
					background-color: $color_a;
				}
			}
		}
	}
}

.tabs_container {
	position: relative;
	//margin-left: -1px;
	margin-right: -3px;
}
    
.tab {
	height: 0;
	overflow: hidden;
	opacity: 0;
}
.tab.active {
	opacity: 1;
	height: auto;
	overflow: visible;
}

.tab_buttons {
	text-align: center;
	position: relative;
	
	span {
		display: inline-block;
		margin-top: 4px;
		padding: 15px 50px 15px;
		background-color: #333333;
		color: #fff;
		cursor: pointer;
		text-transform: uppercase;
		
		&:after {
			content: '';
			display: block;
			border-bottom: 1px dotted transparent;
			@include transition(border-color);
		}
		
		&.active {
			background-color: $color_a;
		}
			
		&.active:after, &:hover:after {
			border-color: #fff;
		}
	}
}

@media screen and (max-width: 1600px) {
	.tab_buttons span {
		padding: 15px 40px 15px;
	}
}

@media screen and (max-width: 1300px) /*and (min-width: 1000px)*/ {
	.tab_buttons span {
		padding: 15px 30px 15px;
	}
	
	h1, .h1 {
		font-size: 29px;
	}

}
@media screen and (max-width: 999px) {
	.tab_buttons span {
		padding: 15px 20px;
		font-size: 15px;
	}
	
	h1, .h1 {
		font-size: 26px;
	}
}


@media screen and (max-width: 800px) {
	.tab_buttons {
		//max-width: 600px;
		margin: 0 auto;
		span {
			padding: 15px 20px;
			font-size: 15px;
		}
	}
}

@media screen and (max-width: 590px) {
	h1, .h1 {
		font-size: 23px;
	}
	
	.slick-slider {
		.slick-arrow {
			margin-top: -18px;
			width: 35px;
			height: 35px;
			background-size: auto 45%; 
		}
		
		.slick-dots {
			position: absolute;
			width: 300px;
			margin-left: -150px;
			left: 50%;
			bottom: 22px;
			font-size: 0;
			text-align: center;
			
			li {
				display: inline-block;
				width: 15px;
				height: 15px;
				border-radius: 11px;
				line-height: 12px;
				overflow: hidden;
				margin: 0 2px;
				padding: 1px;
				cursor: pointer;
				border: 2px solid transparent;
				background: none;
				
				button {
					outline: none;
					padding: 0;
					border: 0;
					width: 15px;
					height: 15px;
					border-radius: 8px;
					vertical-align: middle;
					text-indent: 100px;
					font-size: 0;
					background-color: #3c3c3c;
					cursor: pointer;
				}
				
				&.slick-active{
					border-color: $color_a;
					background-color: $color_a;
					button {
						background-color: $color_a;
					}
				}
			}
		}
	}
}

@media screen and (max-width: 450px) {
	.tab_buttons {
		span {
			padding: 10px 15px;
			font-size: 13px;
		}
	}
	h1, .h1 {
		font-size: 20px;
	}
}

.in {
	padding: 10px 20px;
        margin: 0 auto;
        max-width: $max-width;
        position: relative;
	
	&:after {
	    @include clear();
	}
}

.main_section .in {
	padding: 40px 20px;
}
.main_section {
	//display: none;
	overflow: hidden;
	z-index: 2;
	position: relative;
}

._mPS2id-t {
	padding-top: 70px;
	margin-top: -70px;
}

._mPS2id-t .mPS2id-target {
	z-index: 1;
}

.main_section ul {
        li {
                padding: 3px 0 3px 35px;
                background: url(images/li.png) left center no-repeat;
		margin-bottom: 20px;
        }
}

.fancybox-enabled {
    box-sizing: border-box;
}
