/* start contacts styles */

#contacts {
    background-color: #fff;
    z-index: 1;
    overflow: hidden;
    
    .in {
	max-width: 1920px;
	padding-left: 0;
	padding-right: 0;
	padding: 40px 0 0;
    }
    
    .contacts_info {
	background-color: #f8f8f8;
	float: left;
	width: 715/1920*100%;
	min-height: 505px;
	padding-top: 35px;
	
	.cont {
	    margin-left: 115/713*100%;
	    font-size: 20px;
	    line-height: 145%;
	    background-position: left center;
	    background-repeat: no-repeat;
	    margin-bottom: 0;
	    padding: 10px 0;
	    clear: left;
	    margin-bottom: 10px;
	    
	    .icon {
		width: 49px;
		height: 49px;
		margin-right: 20px;
		padding: 5px;
		border: 4px solid rgba(143, 171, 50, 0.4);
		border-radius: 45px;
		display: inline-block;
		vertical-align: middle;
		
		img {
		    width: 100%;
		    height: 100%;
		}
	    }
	    
	    p {
		display: inline-block;
		vertical-align: middle;
		width: 485/713*100%;
		margin-bottom: 0px;
	    }
	}
	
	.button_block {
	    margin-left: 115/713*100%;
	    padding-left: 87px;
	    padding-top: 10px;
	    padding-bottom: 20px;
	}
    }
    
    
    
    .map {
	margin-left: 715/1920*100%;
	height: 540px;
	
	&:after {
	    @include clear();
	}
    }
}

@media screen and (max-width: 1600px) {
    #contacts {
	
	.contacts_info {
	    min-height: 485px;
	    padding-top: 35px;
	    
	    .cont {
		margin-left: 20px;
		font-size: 19px;
		line-height: 145%;
		margin-bottom: 10px;
		
		.icon {
		    width: 45px;
		    height: 45px;
		    margin-right: 20px;
		    padding: 5px;
		}
		
		p {
		    width: 500/713*100%;
		}
	    }
	    
	    .button_block {
		margin-left: 20px;
		padding-left: 87px;
		padding-top: 10px;
		padding-bottom: 20px;
	    }
	}
	.map {
	    margin-left: 715/1920*100%;
	    height: 520px;
	}
    }  
}

@media screen and (max-width: 1300px) and (min-width: 1000px) {
    #contacts {
	.contacts_info {
	    min-height: 465px;
	    padding-top: 35px;
	    
	    .cont {
		font-size: 17px;
		line-height: 145%;
		
		.icon {
		    width: 35px;
		    height: 35px;
		    margin-right: 10px;
		    padding: 5px;
		}
		
		p {
		    width: 540/713*100%;
		}
	    }
	    
	    .button_block {
		margin-left: 20px;
		padding-left: 67px;
		padding-top: 10px;
		padding-bottom: 20px;
	    }
	}
	.map {
	    height: 500px;
	}
    } 
}
@media screen and (max-width: 999px) {
    #contacts {
	.contacts_info {
	    min-height: 375px;
	    padding-top: 25px;
	    width: 850/1920*100%;
	    
	    .cont {
		font-size: 15px;
		line-height: 145%;
		margin-bottom: 0;
		
		.icon {
		    width: 30px;
		    height: 30px;
		    margin-right: 10px;
		    padding: 5px;
		}
		
		p {
		    width: 540/713*100%;
		}
	    }
	    
	    .button_block {
		margin-left: 20px;
		padding-left: 62px;
		padding-top: 10px;
		padding-bottom: 20px;
		
		.button {
		    font-size: 14px;
		    padding: 10px 30px 4px;
		}
	    }
	}
	.map {
	    margin-left: 850/1920*100%;
	    height: 400px;
	}
    } 
}


@media screen and (max-width: 800px) {
    #contacts {
	.contacts_info {
	    min-height: 375px;
	    width: 50%;
	}
	.map {
	    margin-left: 50%;
	    height: 400px;
	}
    } 
}

@media screen and (max-width: 590px) {
    #contacts {
	.contacts_info {
	    min-height: inherit;
	    padding-top: 25px;
	    width: auto;
	    float: none;
	    
	    .cont {
		font-size: 13px;
		line-height: 145%;
		margin-bottom: 0;
		padding: 0 0 10px;
		
		.icon {
		    width: 25px;
		    height: 25px;
		    padding: 3px;
		    border-width: 2px;
		}
		
		p {
		    width: 80%;
		}
	    }
	    
	    .button_block {
		margin-left: 0px;
		padding-left: 0px;
		text-align: center;
		
		.button {
		    font-size: 14px;
		    padding: 10px 20px 4px;
		}
	    }
	}
	.map {
	    margin-left: 0;
	    height: 200px;
	}
    } 
}

//@media screen and (max-width: 450px) {
    
//}

/* end contacts styles */