html, body { 
    margin: 0;
    padding: 0;
    min-height: 100%;
    width: 100%;
    height: 100%;
    position: relative;
}

a {
    outline: none;
    cursor: pointer;
    }

a img {
    border: none;
    cursor: pointer;
    }
img {
    vertical-align: bottom;
    }
p {
    margin: 0 0 20px;
}
h1, h2, h3, h4, h5, h6 {    
    margin: 0;
    font-weight: 700;
}
strong {
    font-weight: 700;
}
table {
    border: 0;
    border-collapse:collapse;
    border-spacing: 0;
}
ul {
    margin: 0;
    padding: 0;
}
ul li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
hr {
    border: 0;
}

*:focus { outline: none; }
